@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> EduFlex, a comprehensive School Management System designed to streamline and enhance the administrative processes of educational institutions. This web application offers a user-friendly interface and a suite of powerful features to manage students, Teachers, Courses and Parents efficiently. </p>
 
            

</div>
